<div class="info">
    <h1>Settings</h1>
    <button class="saveButton" id="save">Save</button>
    <div class="notifications">
        <h2>Notifications</h2>
        <div class="section">
            <div class="slider">
                <input type="checkbox" name="emailSwitch" id="emailSwitch">
                <label for="emailSwitch"></label>
            </div>
            <h3>Email</h3>
        </div>
        <div class="section">
            <div class="slider">
                <input type="checkbox" name="textSwitch" id="textSwitch">
                <label for="textSwitch"></label>
            </div>
            <h3>Text</h3>
        </div>
    </div>
    <div class="account">
        <h2>Account</h2>
        <div class="buttons">
            <button class="btn changePassword">Change Password</button>
            <button class="btn deleteAccount">Delete Account</button>
        </div>
    </div>
</div>
