<!-- profile.component.html -->
<div class="profile-container">
    <div class="header-gradient"></div>
    <div class="content">
      <div class="nav">
        <a class="item" id="parent">
            <span class="material-symbols-outlined">person</span>
            Parent</a>
        <a class="item" id="children">
            <span class="material-symbols-outlined">person</span>
            Children</a>
        <a class="item" id="settings">
            <span class="material-symbols-outlined">settings</span>
            Settings</a>
      </div>
        <app-parent style="display:block"></app-parent>
        <app-children style="display:none"></app-children>
        <app-settings style="display:none"></app-settings>
    </div>
  </div>
  