<div class="profile-container">
    <div class="header-gradient"></div>
    <div class="content">
        <header>
            <h1>About the Literacy Lab</h1>
        </header>
        <div class="group horizontal">
            <img src="../assets/ManStudying.jpg" style="width: 40%; border-radius: 10px; margin-right: 30px" alt="Literacy Lab" class="profile-image">
            <p style="width: 50%">At the Boise State Literacy Lab, we are committed to fostering literacy 
                skills in children from grades K-12. Our program provides one-on-one or 
                small group tutoring sessions led by undergraduate teacher candidates who 
                are simultaneously completing coursework in literacy assessment and instruction.</p>
        </div>
        <div class="group vertical">
            <h2>Program Details</h2>
            <ul>
                <li><strong>Semesters:</strong> Fall and Spring</li>
                <li><strong>Sessions:</strong> Tuesdays and Thursdays, for approximately 10 weeks</li>
                <li><strong>Time:</strong> 4:30pm – 5:30pm</li>
                <li><strong>Location:</strong> Remote tutoring via Zoom</li>
                <li><strong>Cost:</strong> $175 per semester</li>
            </ul>
        </div>
        <div class="group vertical">
            <h2>Application Information</h2>
            <p>Enrollment for each semester (August and January) opens at the beginning of the semester and is limited. We strive to accommodate as many children as possible, but our capacity may vary depending on the availability of undergraduate teacher candidates.</p>
            <p>To apply for our upcoming session, please complete the application form <a href="#">here</a> and we will notify you by email regarding acceptance or if enrollment is full.</p>
        </div>
        <div class="group vertical">
            <h2>Contact Information</h2>
            <p>For inquiries or more information, please contact:</p>
            <p><strong>Marie Gentle</strong><br>
                Literacy Lab Graduate Assistant<br>
                Email: <a href="mailto:mariegentle&#64;boisestate.edu">mariegentle&#64;boisestate.edu</a></p>
        </div>
    </div>
</div>