<!-- app.component.html -->
<head>
</head>
<div class="app-container">
  <div class="hero">
    <div class="content">
      <div class="text">
        <h1>Boise State<br>Literacy Lab</h1>
        Do you have or know a child who could benefit from affordable literacy tutoring? Consider the Boise State Literacy Lab!
      </div>
      <img src="../assets/HeroBackground.jpg" alt="Hero Image">
    </div>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 200">
      <path fill="#fff" fill-opacity="1" d="M0,96L60,122.7C120,149,
      240,203,360,192C480,181,600,107,720,90.7C840,75,960,117,1080,
      128C1200,139,1320,117,1380,106.7L1440,96L1440,320L1380,320C1320,
      320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,
      320C240,320,120,320,60,320L0,320Z"></path>
    </svg>
  </div>
  <div class="content">
    <div class="vertical-card-container">
      <a href="#" class="card">
        <div class="background"> 
          <div class="title">
            <h2>Card 1</h2>
          </div>
        </div>
      </a>
      <a href="#" class="card">
        <div class="background">
          <div class="title">
            <h2>Card 2</h2>
          </div>
        </div>
      </a>
      <a href="#" class="card">
        <div class="background">
          <div class="content">
            <p>To apply to our upcoming session, please make an account
              and complete the aplication form and we will get back to you!
            </p>
          </div>
        </div>
        <div class="title">
          <h2>Apply</h2>
        </div>
      </a>
    </div>
  </div>
</div>