#application{
  display: flex;
}

.form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 900px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px #000000;
    position: absolute;
    left: 50%;
    margin-left: -480px;
    overflow: hidden;
    margin-top: 20px;
  }

  .agreements, .fam-info, .child-info, .done{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }

  .informed-consent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-left: 170px;
  }
  .document-photo{
    width: 600px;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .field-title{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }