<!-- header.component.html -->
<head>
</head>
<header class="header">
  <div class="content">
    <a [routerLink]="['/']">
      <img src="../assets/BoiseStateLogo.svg" alt="Boise State University Logo">
    </a>
      <div class="navbar">
      <li><a [routerLink]="['/']">Home</a></li>
      <li><a [routerLink]="['/about']">About</a></li>
      <li><a [routerLink]="['/contact']">Contact</a></li>
    </div>
    <div class = "profile">
      <a [routerLink]="['/dashboard']" class="text">My Dashboard</a>
      <a *ngIf="!isLoggedIn" [routerLink]="['/login']" class="log-in">Login</a>
      <a *ngIf="isLoggedIn" [routerLink]="['/profile']" class="prof-button">Profile</a>
      <a *ngIf="isLoggedIn" (click)="logout()" class="log-out">Logout</a>
    </div>
  </div>
</header>



<!-- <header class="header">
    <a [routerLink]="['/']">
        <span class="material-symbols-outlined"> menu </span>
    </a>
    <div id="links">
        <a [routerLink]="['/']"><div class="option">Home</div></a>
        <a [routerLink]="['/dashboard']"><div class="option">Dashboard</div></a>
        <a [routerLink]="['/profile']"><div class="option">Profile</div></a>
        <a [routerLink]="['/login']"><div class="option" id="login">Login or Register</div></a>
    </div>
</header> -->