.header {
    background-color: #f8f9fa;
    padding: 10px;
    height: 60px;
    position: relative;
    box-shadow: 0 2px 4px 0 #0000001a;
    display: flex;
    font-size: large;
    justify-content: space-between;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

#links {
    display: flex;
    position: absolute;
    right : 0;
}

@media (max-width: 960px) {
    #links {
        top: 10px; /* Adjust the top margin as needed */
        flex: 1;
        justify-content: flex-end;
        visibility: hidden;
    }
}

#info{
    position: absolute;
    left: 10px;
    width: 100%;
    display: flex;
}
.option {
    transition: color 0.3s;
    padding: 10px;
    margin-right: 20px;
    font-size: 20px;
    border-left: 2px solid darkgrey;
    height: 30px;
    position: relative;
}

.title{
    font-size: 30px;
    margin-left: 20px;
    /*Set font to Gotham*/
    font-family: 'Gotham', sans-serif;
    flex: 1;
    margin-top: 8px;
}

.option::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 7px;
    width: 95%;
    height: 3px;
    background-color: #D64309;
    opacity: 0;
    transition: opacity 0.3s;
}

.option:hover::after {
    opacity: 1;
}

a:link {
    text-decoration: none;
    color: black;
}

a {
    cursor: pointer; /* or any other cursor value you want */
  }

a:visited {
    text-decoration: none;
    color: black;
}

#login {
    margin-right: 20px;
}

.material-symbols-outlined{
    font-size: 40px;
    margin-right: 10px;
    right: 10px;
    position: absolute;
    border-left: 2px solid darkgrey;
    padding: 10px;

}

@media (min-width: 960px) {
    .material-symbols-outlined {
        top: 10px;
        flex: 1;
        justify-content: flex-end;
        visibility: hidden;
    }
}

.material-symbols-outlined:hover {
    color: #D64309;
    transition: color 0.3s; /* Add transition property for color with desired duration */
}

#menu {
    position: absolute;
    z-index: 1;
    right: 0;
}