.info {
    margin: 30px 0px 0px 0px;
    width: calc(100% - 300px);
    position: relative;
}

h1 {
    color: black;
    font-size: 40px;
    margin-top: 0px;
    margin-bottom: 20px;
}

.edit, .save {
    position: absolute;
    right: 0px;
    top: 0px;
    padding: 8px 12px;
    margin: 10px 0px;
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    transition: 0.5s;

    font-style: bold;
    font-size: 16px;

    background-color: #3d76f1;
}

.edit:hover {
    background-color: #2e5ad7;
    box-shadow: 0 0 10px #30303050;
}

.save:hover {
    background-color: #2e5ad7;
    box-shadow: 0 0 10px #30303050;
}

.edit {
    display: block;
}

.save {
    display: none;
}

/* Info */

.profile {
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 820px;
}

.profile.view {
    display: block;
}

.profile.editing {
    display: none;
}

.profile .group {
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-bottom: 20px;
}

.profile .field {
    width: 200px;
    height: 60px;
    margin-right: 100px;
    /* background-color: red */
}

label {
    color: black;
    font-size: 20px;
}

form input {
    height: 30px;
    margin-top: 10px;
    border: 1px solid #dadada;
    border-radius: 5px;
}

form input.short {
    width: 100px;
}

form input.medium {
    width: 150px;
}

form input.long {
    width: 200px;
}

form select {
    height: 34px;
    margin-top: 10px;
    border: 1px solid #dadada;
    border-radius: 5px;
    background-color: #ffffff;
    color: #333333;
    padding: 5px;
    font-size: 16px;
    appearance: none;
    text-align: left;
}

form select:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

form select option {
    background-color: #ffffff;
    color: #333333;
}

form input[type=submit] {
    width: 120px;
    cursor: pointer;
    background-color: #f1f1f1;
    transition: .2s;
}

form input[type=submit]:hover {
    background-color: #d1d1d1;
}